@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');
body{
    background: #1C1A19;
    background-image: url(img/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
}
.section1{
    background: #3C3A39;
}
.head{
    display: flex;
    justify-content: space-between;
    
}
.headmain button img {
    color: #FFF5E1;
}
.head img{
    display: none;
}
.head h1{
    color: white;
    padding-left: 10px;
    text-align: center;
}
.headmain ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.headmain li{
    padding: 10px;
}
.headmain li a{
    text-decoration: none;
    color: white;
}
.text h1{
    width: 327px;
        height: 124px;
        font-family:'Times New Roman', Times, serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0.3700000047683716px;
        text-align: left;
        color: #FF6B00;
        margin-bottom: -20px;
}
.text h4{
    width: 327px;
    height: 27px;
    font-family: 'poppins',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF5E1;
    margin-bottom: -0px;
}
.text p {
    width: 566px;
    height: 123px;
    font-family: 'poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.social .btn {
    display: grid;
    width: auto;
}
.btn button {
    width: 40px;
    height: Hug (40px);
    padding: 8px;
    border-radius: 8px;
    background: #1C1A19;
    border: none;
    transition: .3s;
}
@media  screen and (max-width:740px) {
    body {
        background-image: url(img/illustration-header-mobile.png);
        background-repeat: no-repeat;
        background-position: right;
        transition: .3s;
    }
    .headmain ul{
        display: none;
    }
    .head{
        width: 100%;
        height: 48px;
        top: 44px;
        padding: 2px, 24px, 2px, 12px;
        transition: .3s;
    }
    .head h1 {
        width: 70px;
        height: 24px;
        font-family: 'poppins',sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        justify-content: space-between;
        transition: .3s;
    }
    .head img {
        display: flex;
        width: 24px;
        height: 24px;
        cursor: pointer;
        padding-top: 10px;
        padding-right: 8px;
        transition: .3s;
    }
    .hero {
        padding-top: 250px;
        margin-left: 10px;
        transition: .3s;
    }
    .text{
        width: 375px;
        height: 590px;
        top: 12px;
        padding: 120px, 24px, 120px, 24px;
        gap: 12px;
    }
    .text h1 {
        width: 327px;
        height: 124px;
        font-family:'Times New Roman', Times, serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0.3700000047683716px;
        text-align: left;
        color: #FF6B00;
        margin-bottom: -20px;
        transition: .3s;
    }
    .text h4{
        width: 327px;
        height: 27px;
        font-family: 'poppins',sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFF5E1;
        margin-bottom: -0px;
        transition: .3s;
    }
    .text p {
        width: 327px;
        height: 123px;
        font-family: 'poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        transition: .3s;
    }
    .social .btn {
        display: flex;
        margin-top: -270px;
        transition: .3s;
    }
    .btn button {
        width: Hug (40px);
        height: Hug (40px);
        padding: 8px;
        border-radius: 8px;
        background: #1C1A19;
        border: none;
        transition: .3s;
    }
    .btn button img {
        width: 24px;
        height: 24px;
        padding: 2px, 3px, 2px, 3px;
        cursor: pointer;
        transition: .3s;
    }
}
